.slide-in-right {
  -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

#createRoomContainer{
  height: 30vh;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: space-around;
}

#createRoomContainer input{
  border: 1px solid #2c2c2c;
  width: 80%;
  margin-left: 10%;
  border-radius: 7px;
  padding-left: 5px;
}
