<!-- <ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive" ng-cloak>

  <ion-tab title="Metronome" icon-on="ion-ios-clock" icon-off="ion-ios-chatbubble-outline" href="#/Metronome">
    <ion-nav-view name="main-metronome"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Metronome" icon-on="ion-ios-clock" icon-off="ion-ios-chatbubble-outline" href="#/Metronome/{{met.sessionId}}">
    <ion-nav-view name="main-metronome-session"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="#/tab/settings">
    <ion-nav-view name="main-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs> -->





<ion-nav-view name="main-metronome"></ion-nav-view>
