<ion-modal-view ng-controller="MetronomeCtrl as met">
  <ion-header-bar>
    <h1 class="title">Room Settings!</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="met.cancelRoomSettings()">Cancel</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <div id="createRoomContainer">
      <input type="text" id="userId" name="userId" ng-model="met.metSettings.userId" placeholder="User Name">
      <input type="text" id="roomName" name="roomName" ng-model="met.metSettings.room" placeholder="Room Name">
      <button ng-click="met.createRoom(met)" class="button button-clear button-assertive">Join Room</button>
      <!-- <input type="text" id="messageInput" name="messageInput" ng-model="met.metSettings.messageInput">
      <button ng-click="met.sendMessage()" class="button button-clear button-assertive">Send Text</button> -->
    </div>
  </ion-content>
</ion-modal-view>
